#id_sevenfive_onefourseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    border-width: 1px;
    background: linear-gradient(-90.00deg, rgba(255, 242, 242, 1) 0.00%, rgba(255, 255, 255, 1) 100.00%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onefoureight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1288px;
    height: 64px;
    overflow: hidden;
    left: 107px;
    top: 52px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onefournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 651px;
    height: 48px;
    left: 318px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_sevenfive_onefivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 128px;
    height: 128px;
    left: 68px;
    top: 20px;
    border-width: 1px;
}

#id_sevenfive_onefiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    overflow: hidden;
    left: 19px;
    top: 19px;
    border-width: 1px;
}

#id_sevenfive_onefivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 84px;
    left: 2.7632813453674316px;
    top: 2.8125px;
    border-width: 0px;
    fill: rgba(204, 51, 51, 1);
}

#id_sevenfive_onefivethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 78px;
    height: 78px;
    left: 2.7632813453674316px;
    top: 4.921875px;
    border-width: 0px;
    fill: rgba(244, 67, 54, 1);
}

#id_sevenfive_onefivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_sevenfive_onefivefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 57px;
    height: 57px;
    left: 14.521635055541992px;
    top: 16.28356170654297px;
    border-width: 0px;
    fill: rgba(250, 250, 250, 1);
}

#id_sevenfive_onefivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_sevenfive_onefiveseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 650px;
    overflow: hidden;
    left: 57px;
    top: 205px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onefiveeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 200px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onefivenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 141px;
    height: 36px;
    left: 32px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_sevenfive_onesixzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 290px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onesixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 190px;
    height: 36px;
    left: 8px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_sevenfive_onesixtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 380px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onesixthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 156px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_sevenfive_onesixfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 470px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onesixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 166px;
    height: 36px;
    left: 20px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_sevenfive_onesixsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 560px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_onezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 85px;
    height: 36px;
    left: 60px;
    top: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_sevenfive_onesixseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 36px;
    left: 58px;
    top: 44px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_sevenfive_onesixeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 110px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_sevenfive_onesixnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 100px;
    height: 36px;
    left: 53px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_fivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1060px;
    height: 650px;
    overflow: hidden;
    left: 313px;
    top: 205px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_fivefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 77px;
    top: 269px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_fivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 82px;
    height: 36px;
    left: 63px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_fiveseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 77px;
    top: 361px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_fiveeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 121px;
    height: 36px;
    left: 43px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_fivenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 77px;
    top: 453px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 159px;
    height: 36px;
    left: 24px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_sixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 308px;
    top: 177px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 77px;
    top: 177px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 130px;
    height: 36px;
    left: 39px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_sixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 308px;
    top: 269px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 308px;
    top: 361px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sixseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 305px;
    top: 453px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 928px;
    height: 45px;
    overflow: hidden;
    left: 66px;
    top: 57px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sevenone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 188px;
    height: 48px;
    left: 370px;
    top: -2px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_seventwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 204px;
    top: 565px;
    border-width: 1px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 124px;
    height: 36px;
    left: 33px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_sevenfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 684px;
    top: 565px;
    border-width: 1px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sevensix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 141px;
    height: 36px;
    left: 33px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            













































        