#id_oneonezero_twoo {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1506px;
    height: 1732px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 530px;
    overflow: hidden;
    left: 80px;
    top: 553px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_oneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: -1px;
    top: 361px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_oneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 156px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofoureight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 271px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 155px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 451px;
    border-width: 1px;
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 85px;
    height: 36px;
    left: 60px;
    top: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 46px;
    left: 58px;
    top: 19px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 181px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 160px;
    height: 36px;
    left: 23px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_sevennigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 91px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_eightzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 140px;
    height: 36px;
    left: 33px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 780px;
    height: 45px;
    overflow: hidden;
    left: 480px;
    top: 232px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 416px;
    height: 36px;
    left: 182px;
    top: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onezeronigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1288px;
    height: 64px;
    overflow: hidden;
    left: 139px;
    top: 83px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_oneonezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 651px;
    height: 48px;
    left: 318px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_oneonezero_oneoneone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 128px;
    height: 128px;
    left: 100px;
    top: 51px;
    border-width: 1px;
}

#id_oneonezero_oneonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    overflow: hidden;
    left: 19px;
    top: 19px;
    border-width: 1px;
}

#id_oneonezero_oneonethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 84px;
    left: 2.7632813453674316px;
    top: 2.8125px;
    border-width: 0px;
    fill: rgba(204, 51, 51, 1);
}

#id_oneonezero_oneonefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 78px;
    height: 78px;
    left: 2.7632813453674316px;
    top: 4.921875px;
    border-width: 0px;
    fill: rgba(244, 67, 54, 1);
}

#id_oneonezero_oneonefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonezero_oneonesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 57px;
    height: 57px;
    left: 14.521635055541992px;
    top: 16.28356170654297px;
    border-width: 0px;
    fill: rgba(250, 250, 250, 1);
}

#id_oneonezero_oneoneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonezero_onetwooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1052px;
    height: 1502px;
    overflow: hidden;
    left: 326px;
    top: 179px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onetwoonigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 32px;
    top: 244px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onethreezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 145px;
    height: 36px;
    left: 32px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onethreeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 32px;
    top: 412px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onethreetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 80px;
    height: 36px;
    left: 64px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onethreefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 32px;
    top: 328px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onethreesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 121px;
    height: 36px;
    left: 43px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onethreeseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 160px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onethreeeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 244px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onethreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 328px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onefourzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 412px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onefourone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 496px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onefourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 512px;
    height: 49px;
    overflow: hidden;
    left: 273px;
    top: 822px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onefourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 49px;
    left: 428px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonezero_onefourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 270px;
    height: 48px;
    overflow: hidden;
    left: 400px;
    top: 714px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 228, 228, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onefourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 142px;
    height: 24px;
    left: 81px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threefivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 270px;
    height: 48px;
    overflow: hidden;
    left: 318px;
    top: 590px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 228, 228, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threefiveseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 142px;
    height: 24px;
    left: 64px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    width: 989px;
    height: 403px;
    overflow: hidden;
    left: 32px;
    top: 931px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    column-gap: 10px;
}

#id_oneonezero_onefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 35px;
    height: 41px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonezero_onefoureight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 41px;
    height: 35px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonezero_onefournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 973px;
    height: 30px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onefivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 689px;
    height: 30px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threefiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 32px;
    top: 496px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threefivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 159px;
    height: 36px;
    left: 25px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threefivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 33px;
    top: 580px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threefivefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 119px;
    height: 36px;
    left: 45px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onefiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 358px;
    top: 335px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onefivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 130px;
    height: 36px;
    left: 39px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_onefivethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 780px;
    height: 45px;
    overflow: hidden;
    left: 480px;
    top: 232px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_onefivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 414px;
    height: 36px;
    left: 182px;
    top: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            






















































        