/*animations*/
.animation-container.move-animation {
  min-width: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.animation-container.move-animation > * {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.animation-container > *:nth-child(2) {
  z-index: 50;
}

.a-element-front > *:nth-child(1) {
  z-index: 100;
}

.a-move-left > *:nth-child(1) {
  transform: translateX(-100%);
}

.a-move-right > *:nth-child(1) {
  transform: translateX(100%);
}

.a-move-top > *:nth-child(1) {
  transform: translateY(-100%);
}

.a-move-bottom > *:nth-child(1) {
  transform: translateY(100%);
}

.a-move-left-slow > *:nth-child(1) {
  transform: translateX(-10%);
}

.a-move-right-slow > *:nth-child(1) {
  transform: translateX(10%);
}

.a-move-top-slow > *:nth-child(1) {
  transform: translateY(-10%);
}

.a-move-bottom-slow > *:nth-child(1) {
  transform: translateY(10%);
}

.a-move-default > *:nth-child(1) {
  transform: translateX(0);
  transform: translateY(0);
}

.b-move-left > *:nth-child(2) {
  transform: translateX(-100%);
}

.b-move-right > *:nth-child(2) {
  transform: translateX(100%);
}

.b-move-top > *:nth-child(2) {
  transform: translateY(-100%);
}

.b-move-bottom > *:nth-child(2) {
  transform: translateY(100%);
}

.b-move-left-slow > *:nth-child(2) {
  transform: translateX(-10%);
}

.b-move-right-slow > *:nth-child(2) {
  transform: translateX(10%);
}

.b-move-top-slow > *:nth-child(2) {
  transform: translateY(-10%);
}

.b-move-bottom-slow > *:nth-child(2) {
  transform: translateY(10%);
}

.b-move-default > *:nth-child(2) {
  transform: translateX(0);
  transform: translateY(0);
}

.a-fade-in-start > *:nth-child(1) {
  opacity: 0;
}

.a-fade-in-end > *:nth-child(1) {
  opacity: 1;
}

.b-fade-in-start > *:nth-child(2) {
  opacity: 0;
}

.b-fade-in-end > *:nth-child(2) {
  opacity: 1;
}

.move-animation > * {
  transition-property: transform, opacity;
}

.fade-animation > * {
  transition-property: opacity;
}

.smart-animation > * {
  transition-property: width, height, opacity, transform, background;
}
