#id_twoo_five {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    border-width: 1px;
    background: url(https://cdn.uncodie.com/6u2XSDo7Ms6u8T8UBz7LVQ/ee165be1c78c0279a5259d237ab346aba1445938.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: none;
}

#id_oneseveneight_three {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 942px;
    height: 495px;
    left: 292px;
    top: 310px;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;
}

.C_oneseveneight_twoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 733px;
    height: 495px;
    overflow: hidden;
    border-width: 1px;
    border-radius: 0px 45px 45px 0px;
    background: rgba(192, 241, 244, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_onefive_twoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 150px;
    height: 24px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_onefive_twoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    left: 270px;
    top: 31px;
    border-width: 1px;
}

#id_onefive_twooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_onefive_twootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
    border-width: 0px;
}

#id_onefive_twoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 166px;
    height: 166px;
    left: 16.66666603088379px;
    top: 16.66666603088379px;
    border-width: 0px;
    fill: rgba(51, 51, 51, 1);
}

#id_onefive_twoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 302px;
    height: 53px;
    overflow: hidden;
    left: 217px;
    top: 243px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_onefive_twoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 112px;
    height: 30px;
    left: 95px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_onefive_twooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 302px;
    height: 53px;
    overflow: hidden;
    left: 217px;
    top: 339px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_onefive_twoonigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 172px;
    height: 30px;
    left: 95px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_onefive_threezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 166px;
    height: 48px;
    overflow: hidden;
    left: 304px;
    top: 423px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 228, 228, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_onefive_threeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 102px;
    height: 24px;
    left: 33px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_onefive_six {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 209px;
    height: 495px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-radius: 45px 0px 0px 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_onefive_onetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 44px;
    top: 167px;
    border-width: 1px;
}

#id_onefive_eight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_onefive_nigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(221, 46, 68, 1);
}

#id_onefive_onezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 79px;
    height: 80px;
    left: 21.431594848632812px;
    top: 20.13666534423828px;
    border-width: 0px;
    fill: rgba(221, 46, 68, 1);
}
            
            






        