#id_nigthzero_oneone {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    border-width: 1px;
    background: linear-gradient(-90.00deg, rgba(255, 242, 242, 1) 0.00%, rgba(255, 255, 255, 1) 100.00%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_onetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1288px;
    height: 64px;
    overflow: hidden;
    left: 107px;
    top: 52px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_onethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 651px;
    height: 48px;
    left: 318px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_nigthzero_onefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 128px;
    height: 128px;
    left: 68px;
    top: 20px;
    border-width: 1px;
}

#id_nigthzero_onefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    overflow: hidden;
    left: 19px;
    top: 19px;
    border-width: 1px;
}

#id_nigthzero_onesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 84px;
    left: 2.7632813453674316px;
    top: 2.8125px;
    border-width: 0px;
    fill: rgba(204, 51, 51, 1);
}

#id_nigthzero_oneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 78px;
    height: 78px;
    left: 2.7632813453674316px;
    top: 4.921875px;
    border-width: 0px;
    fill: rgba(244, 67, 54, 1);
}

#id_nigthzero_oneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_nigthzero_onenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 57px;
    height: 57px;
    left: 14.521635055541992px;
    top: 16.28356170654297px;
    border-width: 0px;
    fill: rgba(250, 250, 250, 1);
}

#id_nigthzero_twoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_nigthzero_twooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 650px;
    overflow: hidden;
    left: 57px;
    top: 205px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_twootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 200px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_twoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 141px;
    height: 36px;
    left: 32px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthzero_twoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 290px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_twoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 190px;
    height: 36px;
    left: 8px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthzero_twoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 380px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_twooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 156px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthzero_threezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 470px;
    border-width: 1px;
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_threeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 85px;
    height: 36px;
    left: 60px;
    top: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthzero_threetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 36px;
    left: 58px;
    top: 44px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthzero_threethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 110px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_threefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 100px;
    height: 36px;
    left: 53px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthzero_threefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1060px;
    height: 650px;
    overflow: hidden;
    left: 299px;
    top: 205px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthfour_foursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 77px;
    top: 269px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthfour_fourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 82px;
    height: 36px;
    left: 63px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthfour_foureight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 77px;
    top: 361px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthfour_fournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 121px;
    height: 36px;
    left: 43px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthfour_fivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 77px;
    top: 453px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthfour_fiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 121px;
    height: 36px;
    left: 43px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_twoonigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 308px;
    top: 177px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_threezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_threeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_threetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 0px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_threethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 308px;
    top: 269px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_threefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 308px;
    top: 361px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_threefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 305px;
    top: 453px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthfour_fourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 376px;
    top: 382px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthfour_fourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 130px;
    height: 36px;
    left: 39px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_nigthzero_threesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 857px;
    height: 45px;
    overflow: hidden;
    left: 400px;
    top: 256px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_nigthzero_threenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 347px;
    height: 36px;
    left: 255px;
    top: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonethree_twoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    left: 1303px;
    top: 1236px;
    border-width: 1px;
    background: url(https://cdn.uncodie.com/6u2XSDo7Ms6u8T8UBz7LVQ/ee165be1c78c0279a5259d237ab346aba1445938.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: none;
}

#id_oneonethree_three {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 209px;
    height: 495px;
    overflow: hidden;
    left: 292px;
    top: 242px;
    border-width: 1px;
    border-radius: 45px 0px 0px 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_four {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 44px;
    top: 167px;
    border-width: 1px;
}

#id_oneonethree_five {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_oneonethree_six {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 120px;
    height: 120px;
    left: 0px;
    top: 0px;
    border-width: 0px;
    fill: rgba(221, 46, 68, 1);
}

#id_oneonethree_seven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 79px;
    height: 80px;
    left: 21.431594848632812px;
    top: 20.13666534423828px;
    border-width: 0px;
    fill: rgba(221, 46, 68, 1);
}

#id_oneonethree_eight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 733px;
    height: 495px;
    overflow: hidden;
    left: 501px;
    top: 242px;
    border-width: 1px;
    border-radius: 0px 45px 45px 0px;
    background: rgba(192, 241, 244, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_nigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 150px;
    height: 24px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_oneonethree_onezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    overflow: hidden;
    left: 270px;
    top: 31px;
    border-width: 1px;
}

#id_oneonethree_oneone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
    border-width: 1px;
}

#id_oneonethree_onetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
    border-width: 0px;
}

#id_oneonethree_onethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 166px;
    height: 166px;
    left: 16.66666603088379px;
    top: 16.66666603088379px;
    border-width: 0px;
    fill: rgba(51, 51, 51, 1);
}

#id_oneonethree_onefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 302px;
    height: 53px;
    overflow: hidden;
    left: 217px;
    top: 243px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_onefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 112px;
    height: 30px;
    left: 95px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonethree_onesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 302px;
    height: 53px;
    overflow: hidden;
    left: 217px;
    top: 339px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_oneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 172px;
    height: 30px;
    left: 95px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonethree_oneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 166px;
    height: 48px;
    overflow: hidden;
    left: 304px;
    top: 423px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 228, 228, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_onenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 102px;
    height: 24px;
    left: 33px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            

























































        