#id_oneonezero_onezeroeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1354px;
    height: 1057px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoozeroone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1288px;
    height: 64px;
    overflow: hidden;
    left: 53px;
    top: 80px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoozerotwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 651px;
    height: 48px;
    left: 318px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_oneonezero_twoozerothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 128px;
    height: 128px;
    left: 14px;
    top: 48px;
    border-width: 1px;
}

#id_oneonezero_twoozerofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    overflow: hidden;
    left: 19px;
    top: 19px;
    border-width: 1px;
}

#id_oneonezero_twoozerofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 84px;
    left: 2.7632813453674316px;
    top: 2.8125px;
    border-width: 0px;
    fill: rgba(204, 51, 51, 1);
}

#id_oneonezero_twoozerosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 78px;
    height: 78px;
    left: 2.7632813453674316px;
    top: 4.921875px;
    border-width: 0px;
    fill: rgba(244, 67, 54, 1);
}

#id_oneonezero_twoozeroseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonezero_twoozeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 57px;
    height: 57px;
    left: 14.521635055541992px;
    top: 16.28356170654297px;
    border-width: 0px;
    fill: rgba(250, 250, 250, 1);
}

#id_oneonezero_twoozeronigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonezero_twootwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1052px;
    height: 717px;
    overflow: hidden;
    left: 151px;
    top: 232px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twootwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 31px;
    top: 247px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twootwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 145px;
    height: 36px;
    left: 32px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twootwoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 32px;
    top: 419px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twootwoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 80px;
    height: 36px;
    left: 58px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twootwoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 32px;
    top: 505px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twootwoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 159px;
    height: 36px;
    left: 25px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twootwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 31px;
    top: 333px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twootwooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 121px;
    height: 36px;
    left: 43px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twootwoonigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 161px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoothreezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 247px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoothreeone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 318px;
    top: 333px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoothreetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 322px;
    top: 419px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoothreethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 639px;
    height: 56px;
    overflow: hidden;
    left: 322px;
    top: 505px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoothreesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 230px;
    height: 48px;
    overflow: hidden;
    left: 411px;
    top: 621px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 228, 228, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoothreeseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 174px;
    height: 24px;
    left: 28px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 32px;
    top: 161px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 130px;
    height: 36px;
    left: 39px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 780px;
    height: 45px;
    overflow: hidden;
    left: 136px;
    top: 56px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofoursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 347px;
    height: 36px;
    left: 216px;
    top: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            





























        