#id_oneonezero_twoosixthree {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 1386px;
    overflow: hidden;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosixfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 530px;
    overflow: hidden;
    left: 41px;
    top: 372px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: -1px;
    top: 361px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosixsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 156px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoosixseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 271px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosixeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 155px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoosixnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 451px;
    border-width: 1px;
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosevenzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 85px;
    height: 36px;
    left: 60px;
    top: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoosevenone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 46px;
    left: 58px;
    top: 19px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twooseventwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 181px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twooseventhree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 160px;
    height: 36px;
    left: 23px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoosevenfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 91px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosevenfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 140px;
    height: 36px;
    left: 33px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twooseveneight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1288px;
    height: 64px;
    overflow: hidden;
    left: 91px;
    top: 61px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosevennigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 651px;
    height: 48px;
    left: 318px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_oneonezero_twooeightzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 128px;
    height: 128px;
    left: 52px;
    top: 29px;
    border-width: 1px;
}

#id_oneonezero_twooeightone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    overflow: hidden;
    left: 19px;
    top: 19px;
    border-width: 1px;
}

#id_oneonezero_twooeighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 84px;
    left: 2.7632813453674316px;
    top: 2.8125px;
    border-width: 0px;
    fill: rgba(204, 51, 51, 1);
}

#id_oneonezero_twooeightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 78px;
    height: 78px;
    left: 2.7632813453674316px;
    top: 4.921875px;
    border-width: 0px;
    fill: rgba(244, 67, 54, 1);
}

#id_oneonezero_twooeightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonezero_twooeightfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 57px;
    height: 57px;
    left: 14.521635055541992px;
    top: 16.28356170654297px;
    border-width: 0px;
    fill: rgba(250, 250, 250, 1);
}

#id_oneonezero_twooeightsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonezero_twooeightseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1052px;
    height: 1016px;
    overflow: hidden;
    left: 292px;
    top: 243px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoonigthsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 497px;
    height: 56px;
    overflow: hidden;
    left: 412px;
    top: 190px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threezeroone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 512px;
    height: 49px;
    overflow: hidden;
    left: 278px;
    top: 459px;
    border-width: 1px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threezerotwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 49px;
    left: 428px;
    top: 0px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonezero_threezerothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 270px;
    height: 48px;
    overflow: hidden;
    left: 391px;
    top: 322px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 228, 228, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threezerofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 142px;
    height: 24px;
    left: 81px;
    top: 12px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threezerofive {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    width: 550px;
    height: 348px;
    overflow: hidden;
    left: 251px;
    top: 584px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    column-gap: 10px;
}

#id_oneonezero_threezerosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 35px;
    height: 41px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonezero_threezeroseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 41px;
    height: 35px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonezero_threezeroeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 916px;
    height: 30px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threezeronigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 192px;
    height: 30px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threeonezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 297px;
    height: 56px;
    overflow: hidden;
    left: 35px;
    top: 190px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threeoneone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 258px;
    height: 36px;
    left: 20px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threeonetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 780px;
    height: 45px;
    overflow: hidden;
    left: 144px;
    top: 69px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threeonethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 394px;
    height: 36px;
    left: 193px;
    top: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            




































        