#id_oneonethree_threeeight {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1440px;
    height: 1024px;
    overflow: hidden;
    border-width: 1px;
    background: linear-gradient(-90.00deg, rgba(255, 242, 242, 1) 0.00%, rgba(255, 255, 255, 1) 100.00%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_threenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1288px;
    height: 64px;
    overflow: hidden;
    left: 107px;
    top: 52px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_fourzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 651px;
    height: 48px;
    left: 318px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_oneonethree_fourone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 128px;
    height: 128px;
    left: 68px;
    top: 20px;
    border-width: 1px;
}

#id_oneonethree_fourtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    overflow: hidden;
    left: 19px;
    top: 19px;
    border-width: 1px;
}

#id_oneonethree_fourthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 84px;
    left: 2.7632813453674316px;
    top: 2.8125px;
    border-width: 0px;
    fill: rgba(204, 51, 51, 1);
}

#id_oneonethree_fourfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 78px;
    height: 78px;
    left: 2.7632813453674316px;
    top: 4.921875px;
    border-width: 0px;
    fill: rgba(244, 67, 54, 1);
}

#id_oneonethree_fourfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonethree_foursix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 57px;
    height: 57px;
    left: 14.521635055541992px;
    top: 16.28356170654297px;
    border-width: 0px;
    fill: rgba(250, 250, 250, 1);
}

#id_oneonethree_fourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneonethree_sixtwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1060px;
    height: 650px;
    overflow: hidden;
    left: 309px;
    top: 205px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_sixfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 416px;
    height: 56px;
    overflow: hidden;
    left: 556px;
    top: 269px;
    border-width: 1px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_sixsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 180px;
    height: 56px;
    left: 118px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonethree_sixseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 416px;
    height: 56px;
    overflow: hidden;
    left: 556px;
    top: 358px;
    border-width: 1px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_sixeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 118px;
    height: 36px;
    left: 149px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonethree_onezerotwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 416px;
    height: 434px;
    left: 75px;
    top: 141px;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonethree_onezerozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 416px;
    height: 56px;
    overflow: hidden;
    left: 863px;
    top: 393px;
    border-width: 1px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_onezeroone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 230px;
    height: 36px;
    left: 93px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonethree_seveneight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 857px;
    height: 45px;
    overflow: hidden;
    left: 400px;
    top: 256px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonethree_sevennigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 331px;
    height: 36px;
    left: 255px;
    top: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 530px;
    overflow: hidden;
    left: 57px;
    top: 250px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofiveone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: -1px;
    top: 361px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofivetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 156px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofivethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 271px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofivefour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 155px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofivefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 451px;
    border-width: 1px;
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofivesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 85px;
    height: 36px;
    left: 60px;
    top: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofiveseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 46px;
    left: 58px;
    top: 19px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoofiveeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 181px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoofivenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 160px;
    height: 36px;
    left: 23px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_twoosixzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 91px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_twoosixone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 140px;
    height: 36px;
    left: 33px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            































        