.overlay{

    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    top:0px;
    left:0px;
    z-index: 100;
    overflow: hidden;
    animation-name: FadeIn;
    animation-duration: 1s;
}
.overlay > div{
    position: absolute;
    z-index: 101;
}


.overlay.transparent {
    background: transparent;
}

.center{
    margin: auto;
}

.topcenter{
    margin-left: auto;
    margin-right: auto;
    top:0px
}

.topright{
    top:0px;
    right:0px;
}

.topleft{
    top:0px;
    left:0px;
}

.bottomcenter{
    margin-left: auto;
    margin-right: auto;
    bottom:0px
}

.bottomright{
    bottom:0px;
    right:0px;
}

.bottomleft{
    bottom:0px;
    left:0px;
}