#id_oneoneone_sevenseven {
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 1672px;
    height: 1626px;
    overflow: hidden;
    border-width: 1px;
    background: linear-gradient(-90.00deg, rgba(255, 242, 242, 1) 0.00%, rgba(255, 255, 255, 1) 100.00%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_seveneight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1288px;
    height: 64px;
    overflow: hidden;
    left: 215px;
    top: 52px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_sevennigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 651px;
    height: 48px;
    left: 318px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 48.409088134765625px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(255, 255, 255, 1);
}

#id_oneoneone_eightzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 128px;
    height: 128px;
    left: 176px;
    top: 20px;
    border-width: 1px;
}

#id_oneoneone_eightone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 90px;
    overflow: hidden;
    left: 19px;
    top: 19px;
    border-width: 1px;
}

#id_oneoneone_eighttwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 84px;
    height: 84px;
    left: 2.7632813453674316px;
    top: 2.8125px;
    border-width: 0px;
    fill: rgba(204, 51, 51, 1);
}

#id_oneoneone_eightthree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 78px;
    height: 78px;
    left: 2.7632813453674316px;
    top: 4.921875px;
    border-width: 0px;
    fill: rgba(244, 67, 54, 1);
}

#id_oneoneone_eightfour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneoneone_eightfive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 57px;
    height: 57px;
    left: 14.521635055541992px;
    top: 16.28356170654297px;
    border-width: 0px;
    fill: rgba(250, 250, 250, 1);
}

#id_oneoneone_eightsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 27px;
    height: 23px;
    left: 13.300993919372559px;
    top: 10.23046875px;
    border-width: 0px;
    fill: rgba(255, 138, 128, 1);
}

#id_oneoneone_nigthzero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 1176px;
    height: 1293px;
    overflow: hidden;
    left: 419px;
    top: 209px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 138, 128, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_nigthone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 471px;
    height: 56px;
    overflow: hidden;
    left: 328px;
    top: 561px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_oneoneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 239px;
    height: 56px;
    overflow: hidden;
    left: 58px;
    top: 561px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_oneonenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 136px;
    height: 36px;
    left: 51px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_onetwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 876px;
    top: 561px;
    border-width: 1px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onetwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 150px;
    height: 36px;
    left: 33px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_onetwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 471px;
    height: 56px;
    overflow: hidden;
    left: 328px;
    top: 644px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onetwoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 239px;
    height: 51px;
    overflow: hidden;
    left: 58px;
    top: 181px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onetwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 30px;
    height: 36px;
    left: 105px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_onetwoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 471px;
    height: 56px;
    overflow: hidden;
    left: 328px;
    top: 181px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onetwooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 208px;
    height: 56px;
    overflow: hidden;
    left: 876px;
    top: 181px;
    border-width: 1px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onetwoonigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 124px;
    height: 36px;
    left: 33px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_onethreezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 239px;
    height: 51px;
    overflow: hidden;
    left: 58px;
    top: 347px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onethreefive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 145px;
    height: 36px;
    left: 47px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threetwooeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 239px;
    height: 51px;
    overflow: hidden;
    left: 58px;
    top: 430px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threetwoonigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 121px;
    height: 36px;
    left: 47px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_onethreetwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 239px;
    height: 51px;
    overflow: hidden;
    left: 58px;
    top: 264px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onethreethree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 130px;
    height: 36px;
    left: 55px;
    top: 8px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_onethreesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 471px;
    height: 56px;
    overflow: hidden;
    left: 328px;
    top: 264px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(75, 72, 72, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onethreeseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 471px;
    height: 56px;
    overflow: hidden;
    left: 0px;
    top: 0px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_onethreenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 471px;
    height: 56px;
    overflow: hidden;
    left: 328px;
    top: 342px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threethreezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 471px;
    height: 56px;
    overflow: hidden;
    left: 328px;
    top: 431px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threefoursix {
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    align-items: flex-start;
    align-content: flex-start;
    width: 826px;
    height: 403px;
    overflow: hidden;
    left: 175px;
    top: 780px;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    column-gap: 10px;
}

#id_oneonezero_threefourseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 35px;
    height: 41px;
    left: initial;
    top: initial;
    border-width: 1px;
    object-fit: cover;
    object-position: initial;
}

#id_oneonezero_threefournigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 810px;
    height: 30px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threefivezero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 603px;
    height: 30px;
    left: initial;
    top: initial;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 25px;
    line-height: 30.25568199157715px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: uppercase;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threeonesix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 530px;
    overflow: hidden;
    left: 119px;
    top: 365px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threeoneseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: -1px;
    top: 361px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threeoneeight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 156px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threeonenigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 271px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threetwoozero {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 155px;
    height: 36px;
    left: 25px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threetwooone {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 451px;
    border-width: 1px;
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threetwootwoo {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 85px;
    height: 36px;
    left: 60px;
    top: 16px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threetwoothree {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 90px;
    height: 46px;
    left: 58px;
    top: 19px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threetwoofour {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 181px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threetwoofive {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 160px;
    height: 36px;
    left: 23px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneonezero_threetwoosix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 206px;
    height: 90px;
    overflow: hidden;
    left: 0px;
    top: 91px;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
    background: rgba(187, 202, 242, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneonezero_threetwooseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 140px;
    height: 36px;
    left: 33px;
    top: 27px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_nigthsix {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 263px;
    height: 46px;
    overflow: hidden;
    left: 477px;
    top: 856px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_nigthseven {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 209px;
    height: 36px;
    left: 27px;
    top: 10px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}

#id_oneoneone_nigtheight {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 889px;
    height: 45px;
    overflow: hidden;
    left: 593px;
    top: 272px;
    border-width: 1px;
    border-radius: 45px;
    background: rgba(255, 255, 255, 1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#id_oneoneone_nigthnigth {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    width: 462px;
    height: 36px;
    left: 214px;
    top: 4px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 30px;
    line-height: 36.30681610107422px;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    text-transform: none;
    border-width: 1px;
    color: rgba(0, 0, 0, 1);
}
            
            



















































        